<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>WebdevCom</title>
</head>
<body>
    
    <div id="nav-bar">  
      {{>navigation}}
    </div>  
    
    <div id="page-container">
      {{{body}}}
    </div>

    <script src="/js/devsSlider.js"></script>
</body>
</html>
