<div id="banner">
  <div id="layer"></div>
  <div id="info">
    <h1>Bienvenido</h1>
    <p>Somos un grupo de desarolladores que se reunieron para trabajar mediante la misma plaforma, usted puede contratar nuestro servicio para crear una pagina web completamente personalizada</p>
  </div>
</div>
