<div id="banner">
  <ul>
    <li><img src="/images/banner01.jpeg" alt=""></li>
    <li><img src="/images/banner02.jpeg" alt=""></li>
    <li><img src="/images/banner03.jpeg" alt=""></li>
  </ul>
  <div id="info">
  <h1>Bienvenido</h1>
    <p>Somos un grupo de desarolladores que se reunieron para trabajar mediante la misma plaforma, usted puede contratar nuestro servicio para crear una pagina web completamente personalizada</p>
  </div>
  <div id="layer"></div>
</div>

<div id= "how">
  <div id="text-how">
    <h2 id="how-title">Como Trabajamos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, eius fugit? Quasi beatae, inventore ab, at perferendis nobis quos ea dicta hic, eos ullam blanditiis dignissimos facilis iste! Dignissimos nisi adipisci quidem inventore dolore similique eligendi consequuntur a distinctio libero quae est, odit ab quasi cumque dolores eius reiciendis molestias repudiandae? Rerum hic odit eius harum nam maiores enim ullam? Eos in asperiores magnam quam modi corrupti nobis pariatur vitae mollitia architecto perferendis eaque sint maiores dolorum, beatae nisi error. Numquam fugit sed vel at doloremque, magni odit temporibus quidem iure nam maxime officiis rerum perspiciatis explicabo nesciunt quae dolorum!</p>  
  </div>
  <div id="img-how">
    <img src="/images/responsive.png">
  </div>
</div>

<div id="devs">
  <div id="dev-name">
    <label id="name">Linus Tolrvards</label>
  </div>
  <div id="dev-img">
  <ul id="dev-ul">
    <li><img src="/images/Linux.png" alt=""></li>
    <li><img src="/images/Elon.png" alt=""></li>
    <li><img src="/images/Mark.png" alt=""></li>
  </ul>
  </div> 
  <div id="dev-description">
    <p id="description">description de linuz</p>
  </div>
  <div id="button">
    <a href="https://www.buscabiografias.com/biografia/verDetalle/8294/Linus%20Torvalds" id="portfolio">Portafolio</a>
  </div>
  <div id="links">
    <ul>
      <li id="link"><button class="link-btn" id="btn-1" onclick="changeLinus()"></button></li>
      <li id="link"><button class="link-btn" id="btn-2" onclick="changeElon()"></button></li>
      <li id="link"><button class="link-btn" id="btn-3" onclick="changeMark()"></button></li>
    </ul>
  </div>
</div>

