<div id="banner">
  <div id="layer"></div>
  <div id="info">
    <h1>Bienvenido</h1>
    <p>Somos un grupo de desarolladores que se reunieron para trabajar mediante la misma plaforma, usted puede contratar
      nuestro servicio para crear una pagina web completamente personalizada</p>
  </div>
</div>

<div id="how">
  <div id="text-how">
    <h2 id="how-title">Como Trabajamos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, eius fugit? Quasi beatae, inventore ab, at
      perferendis nobis quos ea dicta hic, eos ullam blanditiis dignissimos facilis iste! Dignissimos nisi adipisci
      quidem inventore dolore similique eligendi consequuntur a distinctio libero quae est, odit ab quasi cumque dolores
      eius reiciendis molestias repudiandae? Rerum hic odit eius harum nam maiores enim ullam? Eos in asperiores magnam
      quam modi corrupti nobis pariatur vitae mollitia architecto perferendis eaque sint maiores dolorum, beatae nisi
      error. Numquam fugit sed vel at doloremque, magni odit temporibus quidem iure nam maxime officiis rerum
      perspiciatis explicabo nesciunt quae dolorum!</p>
  </div>
  <div id="img-how">
    <img src="/images/responsive.png">
  </div>
</div>

<div id="devs">
  <div id="dev-name">
    <h3 id="name">Linus Tolrvards</h3>
  </div>
  <div id="dev-img">
    <img src="/images/Linux.png">
  </div>
  <div id="dev-description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ipsam?</p>
  </div>
  <div id="button">
    <a href="https://www.buscabiografias.com/biografia/verDetalle/8294/Linus%20Torvalds">Portafolio</a>
  </div>
</div>

<div id="formulario">
  <div id="formulario-form">
    <h1 id="formulario-title">Formulario</h1>
    <form method="POST">
      <h2>Complete el formulario con sus datos: </h2>
      <div id="name-last">
        <div>
          <input type="text" placeholder="Nombre">
        </div>
        <div>
          <input type="text" placeholder="Apellido">
        </div>
      </div>
      <div>
        <div id="email">
          <input type="text" placeholder="Correo electronico">
        </div>
        <div id="comments">
          <textarea rows="5" placeholder="Informacion acerca del pedido"></textarea>
        </div>
        <div id="formulario-btn">
          <button type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <div id="formulario-info">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia illum fuga inventore eligendi accusamus
      distinctio quisquam molestiae harum eius debitis consequuntur, minus nam repellat voluptatem, pariatur est vel
      tenetur repellendus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sunt dolores cumque ullam,
      possimus, similique cum mollitia ipsum quis facilis deleniti unde corrupti nostrum voluptas quo quia explicabo
      nobis doloremque? Incidunt perferendis a quia exercitationem facere asperiores minima mollitia placeat possimus
      nesciunt at rerum harum cum cumque numquam temporibus, ipsa eius, quod eveniet amet odit veniam quas? Quibusdam
      illum amet nobis, alias sed placeat ipsum nemo fugit dolores beatae quam, laborum mollitia. Rerum voluptas, itaque
      beatae dolorum laboriosam mollitia. Reiciendis sint autem quod, cumque nihil libero aperiam, eveniet consequuntur
      quidem dignissimos fugit nam pariatur ab delectus perferendis repellendus eum eius?</p>
  </div>
</div>

<div id="footer">
  <p id="footer-header">
    Tambien pueden contactarnos a travez de nuestras redes:
  </p>
  <div id="footer-links">
    <div>
      <a href="">Instragam</a>
    </div>
    <div>
      <a href="">Twitter</a>
    </div>
    <div>
      <a href="">Telegram</a>
    </div>
    <div>
      <a href="">Massager</a>
    </div>
  </div>
  <div id="footer-middle">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem porro tempore nesciunt deserunt nobis ab
      mollitia minima, aperiam ullam, repellat vitae excepturi officiis repellendus a consequuntur quo dicta fugiat!
      Sit.</p>
  </div>
  <div id="footer-footer">
    <p>-©Derechos Reservados por ColaSoftwareCompany®-</p>
  </div>
</div>