* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #fafafa;
}

#page-container {
  position: relative;
}

/*
 * Naviation
 * */

#nav-bar {
  display: flex;
  width: 100%;
  background-color: #2f3542;
}

#logo {
  width: 50%;
  padding: 20px;
}

#logo span {
  color: #fafafa;
  font-size: 38px;
}

#links {
  display: flex;
  width: 50%;
}

.link {
  margin: 30px;
}

.link a {
  color: #fafafa;
  text-decoration: none;
  font-size: 20px;
}

.link a:hover {
  opacity: 80%;
}

/*
 * Banner
 * */

#banner {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

#banner ul {
  display: flex;
  width: 300%;
  animation: change 20s infinite alternate linear;
}

#banner li {
  width: 100%;
  list-style: none;
}

#banner img {
  width: 100%;
  height: 100%;
}

@keyframes change {
  0%{
    margin-left: 0;
  }
  30%{
    margin-left: 0;
  }
  33%{
    margin-left: -100%;
  }
  63%{
    margin-left: -100%;
  }
  66%{
    margin-left: -200%;
  }
  100%{
    margin-left: -200%;
  }
}

#layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#info {
  position: absolute;
  z-index: 2;
  top: 14%;
  width: 40%;
  left: 30%; 
  text-align: center;
}

#info h1 {
  color: #fafafa;
  font-size: 40px;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

#info p {
  color: #cfcfcf;
  font-size: 20px;
}

/*
 * How We Work
 * */

#how-title{
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 30px;
  width: 100%;
  font-size: 46px;
}

#how{
  display: flex;

}

#text-how{
  width: 50%;
  padding: 45px;
  padding-top: 30px;

}
#text-how p{
  font-size: 25px;

}

#img-how{
  width: 50%;
  padding: 30px;
}

#img-how img{
  width: 100%;

}

#devs{
  background-color: #dfe4ea;
  padding-top: 30px;

}

#name{
  text-align: center;
  margin-bottom: 30px;
  font-size: 33px;
}

#dev-img{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

#dev-img img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  height: 100%;
  margin-left: -40px;
  
}

#dev-description{
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 30px;
  font-size: 28px;
}

#dev-description p{
  padding: 0 30%;
}

#button{
  text-align: center;
  padding-bottom: 30px;
}

#button a{
  color: #000000;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 3px;
  border: 2px solid #2f3542;
  display: inline-block;
  width: 10%;
  margin: auto;
  
}

#button a:hover{
  color: #dfe4ea;
  background-color: #2f3542;
}
